.my-anchor-css-class {
    color: #009fb1;
}

.dark .my-anchor-css-class {
    color: #16838f;
}

.send-button {
    background-color: #009fb1;
    display: none;
    letter-spacing: 4px;
}

.send-button:hover {
    background-color: #048593;
}

.dark .header {
    background-image: url(/images/bg-mobile-dark.jpg) !important;
}


@media screen and (min-width: 440px) {
    .send-button {
        display: inline-block;
    }
}

@media screen and (min-width: 600px) {
    .dark .app {
        background-image: url(/images/bg-desktop-dark.jpg) !important;
    }

    .dark .header {
        background-image: none !important;
    }
}